---
import "../styles/global.css";

---

<footer>
    <p>Все пенисы на фронте сосал <a href="https://artembay.ru">Баечка</a>, а слежку за Zаквиелем организовал <a href="https://lavafrai.ru">lava_frai</a></p>
    <p>Исходники сайта на <a href="https://github.com/lavafrai/ruinacounter2">Github</a></p>
</footer>

<style>
    footer > p {
        text-align: center;
    }
    footer {
        padding-bottom: 20px;
        padding-top: 10px;
        width: 100%;
        opacity: 0.9;
        height: 50px;
    }
    h1, h2, h3, a, p, span {
        color: #fff;
        white-space: normal
    }
    a {
        text-decoration: underline;
        color: #e6a7ff !important; 
    }

    @media (max-width: 960px) {
        footer {margin-top: 30px; margin-bottom: 40px; padding: 0px 30px;}
    }
</style>